.overlay-image {
  background-image: url(img/ba1.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}
.overlay-image2 {
  background-image: url(img/ba2.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}
.overlay-image3 {
  background-image: url(img/ba3.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}
.my-caption {
  right: 9%;
  bottom: 6.5rem;
  left: 53%;
}
